<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>BootstrapServlet</servlet-name>
        <servlet-class>geriapp.servlets.BootstrapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwilioResponseServlet</servlet-name>
        <servlet-class>geriapp.Twilio.TwilioResponseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedboxServlet</servlet-name>
        <servlet-class>geriapp.servlets.MedboxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BootstrapServlet</servlet-name>
        <url-pattern>/Bootstrap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedboxServlet</servlet-name>
        <url-pattern>/MedboxIn</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
